#stale_night {
    background-image: linear-gradient(135deg, #21603b 30%, #404040 30%, #404040 50%, #21603b 50%, #21603b 80%, #404040 80%, #404040 100%);
    background-size: 300.00px 300.00px;
    visibility: hidden;
}
