html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#stale {
    background-image: linear-gradient(135deg, #f1bd5c 30%, #404040 30%, #404040 50%, #f1bd5c 50%, #f1bd5c 80%, #404040 80%, #404040 100%);
    background-size: 150.00px 150.00px;
    visibility: hidden;
}
